@import "src/styles/sass/abstracts/variables";
@import "src/styles/sass/abstracts/function";

.cartTitle {
  font-size: toRem(32);
  line-height: toRem(40);
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: toRem(55);
  border-bottom: 1px solid $colorMedium;
  margin-bottom: toRem(24);
}

.cartTotal {
  margin-bottom: toRem(103);

  &Table {
    border-spacing: toRem(8);

    & > tr > th {
      text-align: start;
    }

    & > tr > th {
      font-size: toRem(24);
      line-height: toRem(18);
      font-weight: 400;
    }
  }
}

button {
  transition: all .5s linear;
}