@import "../../../styles/sass/abstracts/variables";
@import "../../../styles/sass/abstracts/function";

.imgBlock {
  display: flex;
  gap: toRem(40);
  max-height: toRem(511);

  &BigImg {
    width: toRem(610);
    position: relative;
    overflow: hidden;

    & > img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      margin: auto;
      object-fit: cover;
    }
  }

  .slider {
    height: 70%;
    padding-bottom: toRem(30);
    overflow: hidden;
    position: relative;
  }

  &SmallImg {
    display: flex;
    flex-direction: column;
    gap: toRem(40);
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;

    & > button {
      border: 1px solid $textColorLight;
      width: toRem(80)!important;
      //height: max-content;
      height: toRem(80)!important;
      background: transparent;

      &:hover,
      &:active {
        border: 1px solid $textColorMain;
      }

      & > img {
        width: calc(toRem(80) - toRem(2));
        height: calc(toRem(80) - toRem(2));
        object-fit: cover;
      }
    }
  }

  .sliderButtons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: toRem(16);

    & > button {
      border: none;
      width: toRem(24);

      &:hover{
        opacity: .5;
      }
    }
  }
}



