@import "../../styles/sass/abstracts/variables";
@import "../../styles/sass/abstracts/function";

.container {
  display: grid;
  grid-template-columns: 1fr toRem(301);
  gap: toRem(91);
  margin-right: toRem(100);
  color: $textColorMain;
  margin-bottom: toRem(103);
}

.imgBlock {
  display: flex;
  gap: toRem(40);
  max-height: toRem(511);

  &BigImg {
    width: toRem(610);
    position: relative;

    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
     object-position: 0 toRem(-35);
    }
  }

  &SmallImg {
    display: flex;
    flex-direction: column;
    gap: toRem(40);

    & > button {
      border: 1px solid $textColorLight;
      width: toRem(79);
      height: toRem(80);

      &:hover,
      &:active {
        border: 1px solid $textColorMain;
      }

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.productParametersTitle {
  font-size: toRem(30);
  line-height: toRem(27);
  font-weight: 600;
  margin-bottom: toRem(43);

  & > span {
    font-weight: 400;
    display: block;
    padding-top: toRem(16);
  }
}

.productParameters {

  &Item {
    margin-bottom: toRem(24);
  }

  &Item > h3 {
    font-family: Roboto;
    font-size: toRem(18);
    font-weight: 700;
    line-height: 1;
    margin-bottom: toRem(8);
    text-transform: uppercase;
  }

  &Size {
    &Options {
      display: flex;
      gap: toRem(12);

      & > span {
        font-family: Source Sans Pro;
        font-size: toRem(16);
        line-height: toRem(18);
        font-weight: 400;
        text-transform: uppercase;
        display: grid;
        place-content: center;
        min-width: toRem(63);
        min-height: toRem(45);
        border: 1px solid $textColorMain;

        &.active {
          color: $textColorLight;
          background: $textColorMain;

        }
      }
    }
  }

  &Color {
    &Options {
      display: flex;
      gap: toRem(8);

      & > div {
        padding: 2px;
        min-width: toRem(36);
        min-height: toRem(36);

        &.active {
          border: 1px solid $colorPrimary;
        }
      }

      & > div > span {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &Price {
    margin-bottom: toRem(25);

    & > h3 {
      margin-bottom: toRem(16);
    }

    & > span {
      font-size: toRem(24);
      line-height: toRem(18);
      font-weight: 700;
    }
  }

  &ButtonToCart {
    line-height: toRem(52);
    text-transform: uppercase;
    color: $textColorLight;
    background: $colorPrimary;
    border: 1px solid transparent;
    max-width: toRem(292);
    width: 100%;
    margin-bottom: toRem(40);

    &:hover,
    &:active {
      background: $textColorLight;
      color: $colorPrimary;
      border: 1px solid $colorPrimary;
    }
  }

  &Description {
    font-family: Roboto;
    font-weight: 400;
    line-height: 160%;
  }
}

button {
  transition: all .5s linear;
}
