@import '../../styles/sass/abstracts/variables';
@import '../../styles/sass/abstracts/function';

.container {
  display: grid;
  grid-template-columns: 1fr toRem(301);
  gap: toRem(91);
  margin-right: toRem(100);
  color: $textColorMain;
  margin-bottom: toRem(103);

  @media(max-width: toRem(900)) {
    grid-template-columns: 1fr;
  }
}

.productParametersTitle {
  font-family: Raleway, sans-serif;
  font-size: toRem(30);
  line-height: toRem(27);
  font-weight: 600;
  margin-bottom: toRem(43);

  & > span {
    font-family: inherit;
    font-weight: 400;
    display: block;
    padding-top: toRem(16);
  }
}

.productParameters {

  &Item {
    margin-bottom: toRem(24);
  }

  &Item > h3 {
    font-family: Roboto, sans-serif;
    font-size: toRem(18);
    font-weight: 700;
    line-height: 1;
    margin-bottom: toRem(8);
    text-transform: uppercase;
  }

  &Price {
    font-size: toRem(18);
    font-weight: 700;
    line-height: 1;
    margin-bottom: toRem(20);
    text-transform: uppercase;
    font-family: Roboto, sans-serif;

    & > h3 {
      margin-bottom: toRem(16);
      font-family: inherit;
    }

    & > span {

      font-size: toRem(24);
      line-height: toRem(18);
      font-weight: 700;
      font-family: Raleway, sans-serif;
    }
  }

  &ButtonAddToCart {
    line-height: toRem(52);
    text-transform: uppercase;
    color: $textColorLight;
    background: $colorPrimary;
    border: 1px solid transparent;
    max-width: toRem(292);
    width: 100%;
    margin-bottom: toRem(40);
    font-family: Raleway, sans-serif;

    &:hover,
    &:active {
      color: $colorPrimary;
      background-color: $textColorMain;
      border: 1px solid $textColorMain;
    }

    &:disabled {
      cursor: initial;
      background: $colorMedium;
      border: 1px solid transparent;
      color: $textColorLight;
    }
  }

  &Description > p{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 160%;
  }

  &Description ul {
   padding-left: toRem(20);
  }

  &Description li {
    list-style: initial;
  }
}

button {
  transition: all .5s linear;
}


