@import '../../styles/sass/abstracts/variables';
@import '../../styles/sass/abstracts/function';

.attributeColor {
  display: grid;
  place-content: center;
  width: toRem(36);
  height: toRem(36);
  padding: toRem(.4);
  cursor: pointer;
}

.active {
  border: 1px solid $colorPrimary;
}

.attribute {
  display: inline-block;
  width: toRem(32);
  height: toRem(32);
  border: 1px solid $colorMedium;
}