@import "src/styles/sass/abstracts/variables";
@import "src/styles/sass/abstracts/function";

.modal {
  position: fixed;
  top: toRem(80);
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(57, 55, 72, 0.22);
  z-index: 56;
}

.container {
  position: fixed;
  right: 5%;
  top: toRem(80);
  z-index: 99;
  padding: toRem(32) toRem(16);
  width: toRem(325);
  max-height: toRem(640);
  height: max-content;
  display: flex;
  flex-direction: column;
  background: $textColorLight;
  color: $textColorMain;
  overflow-y: auto;
}

.cartTitleBlock {
  display: flex;
  align-items: center;
  margin-bottom: toRem(32);
}

.cartTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-spacing: toRem(8);
  margin-bottom: toRem(32);

  & > h5 {
    font-family: Roboto;
    line-height: toRem(18);
    font-weight: 500;
  }

  & > span {
    line-height: 160%;
    font-weight: 700;
    display: inline-block;
  }
}

.buttons {
  font-size: toRem(14);
  font-weight: 600;
  line-height: 120%;
  display: grid;
  gap: toRem(12);
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  text-transform: uppercase;

  & > a {
    display: grid;
    place-content: center;
    padding-top: toRem(13);
    padding-bottom: toRem(13);
  }

  & > a:nth-child(1) {
    color: $textColorMain;
    border: 1px solid $textColorMain;
  }

  & > a:nth-child(2) {
    color: $textColorLight;
    background-color: $colorPrimary;
    border: 1px solid $colorPrimary;
  }

  & > a:hover,
  & > a:active {
    color: $colorPrimary;
    background-color: $textColorMain;
    border: 1px solid $textColorMain;
  }
}

button,
a {
  transition: all .5s linear;
}


// styles for cartMini
.container {

  & .styledCartMini {
    column-gap: toRem(16);
    margin-bottom: toRem(16);
    padding-bottom: toRem(16);
    min-height: toRem(180);

    & .productParametersItemCartMini {
      margin-bottom: toRem(.5) !important;
    }

    & .attributeNameTitle {
      text-transform: initial;
      font-size: toRem(14);
      font-weight: 400;
      line-height: toRem(16);
      margin-bottom: toRem(8);
      font-family: Roleway;
    }

    & span {
      font-size: toRem(16);
    }


    & .productParametersTitle {
      font-size: toRem(16);
      line-height: 160%;
      font-weight: 300;
      max-width: toRem(136);
      margin-bottom: toRem(8);

      & > span {
        padding-top: 0;
        font-weight: 300;
      }
    }

    & .counterBlockCartMini {
      gap: 0.5rem;
      flex-basis: 60%;

      @media (max-width: toRem(900)) {
        height: toRem(180);
      }

      & span {
        font-size: toRem(16);
        line-height: 160%;
        font-weight: 500;
      }

      & button {
        font-size: toRem(16);
        width: toRem(24);
        height: toRem(24);
      }
    }

    & .attributeColorCartMiniWrap {
      & div {
        padding: 2px;
        width: toRem(20);
        height: toRem(20);
      }

      & span {
        width: toRem(16);
        height: toRem(16);
      }
    }

    & .attributeSizeCartMini {
      font-size: toRem(14);
      min-width: toRem(24);
      min-height: toRem(24);
      padding-left: toRem(5);
      padding-right: toRem(5);
    }
  }

  & .cartSliderImagesWrapCartMini {
    width: 100%;
  }

  & .cartSliderButtonsCartMini > button {
    width: toRem(20) !important;
    height: toRem(20) !important;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.cartMiniText {
  font-size: toRem(32);
  color: $textColorMain;
}






