@import "src/styles/sass/abstracts/variables";
@import "src/styles/sass/abstracts/function";

.card{
  display: flex;
  flex-direction: column;
  font-size: toRem(18);
  line-height: 160%;
  color: $textColorMain;
  padding: toRem(16);
  transition: all .5s linear;

  &:hover{
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  }

  &Img{
    margin-bottom: toRem(24);
  }

  &Title{
    font-weight: 300;
  }

  &Price{
    font-weight: 500;
  }
}