@import "src/styles/sass/abstracts/variables";
@import "src/styles/sass/abstracts/function";

.header {
  position: fixed;
  width: 100%;
  height: toRem(80);
  z-index: 100;
  background-color: rgba(255, 255, 255, .9);

  &Wrap {

    &Container {
      display: flex;
      align-items: center;
      margin-top: toRem(16);
      justify-content: space-between;
      position: relative;
    }

    &Items {
      display: flex;
    }
  }

  &SelectAndCartBlock {
    display: flex;
    align-items: center;
    position: relative;
  }
}

.cartButtonWrap {
  position: relative;
}

.cartButton {
  display: inline-block;
  border: transparent;
  background-color: transparent;
  padding: toRem(8);
}

.cartCount {
  position: absolute;
  display: grid;
  place-content: center;
  top: 3px;
  right: 0;
  width: toRem(16);
  height: toRem(16);
  border-radius: 50%;
  background-color: $textColorMain;
  color: $textColorLight;
  font-size: toRem(11);
  font-weight: 700;
  font-family: Roboto;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}