@import 'src/styles/sass/abstracts/variables';
@import 'src/styles/sass/abstracts/function';

.select {
  width: toRem(60);
  font-family: Raleway, sans-serif;

  &Btn {
    font-size: toRem(18);
    width: 100%;
    padding: toRem(5) toRem(10) toRem(5) toRem(10);
    border: none;
    background: transparent;
    caret-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &Content {
    position: absolute;
    background-color: $textColorLight;
    box-shadow: 0 4px 35px rgba(168, 172, 176, 0.19);
    width: 100%;
  }

  &Item {
    font-family: Raleway, sans-serif;
    font-size: toRem(18);
    padding: toRem(10) toRem(15);
    transition: all .5s linear;
    cursor: pointer;

    &:hover {
      background: #EEEEEE;;
    }
  }
}