@import "../../styles/sass/abstracts/variables";
@import "../../styles/sass/abstracts/function";

.productParametersItem {
  margin-bottom: toRem(24);

  & > h3 {
    font-family: Roboto;
    font-size: toRem(18);
    font-weight: 700;
    line-height: 1;
    margin-bottom: toRem(8);
    text-transform: uppercase;
  }
}

.productParametersAttributeOptions {
  display: flex;
  gap: toRem(8);
}


