@import "../../styles/sass/abstracts/variables";
@import "../../styles/sass/abstracts/function";

.attributeSize {
  font-family: Source Sans Pro;
  line-height: toRem(18);
  text-transform: uppercase;
  display: grid;
  place-content: center;
  min-width: toRem(63);
  min-height: toRem(45);
  border: 1px solid $textColorMain;
  cursor: pointer;
}
.active {
  color: $textColorLight;
  background: $textColorMain;
}
