@import "src/styles/sass/abstracts/variables";
@import "src/styles/sass/abstracts/function";

.modale {
  //position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(57, 55, 72, 0.22);;
}

.container {
  background: $textColorLight;
  display: flex;
  flex-direction: column;
  color: $textColorMain;
  padding: toRem(32) toRem(16);
  max-width: toRem(325);
}

.cartTitleBlock {
  display: flex;
  margin-bottom: toRem(32);
  line-height: 160%;
}

.cartTitle {
  font-weight: 700;
}

.cartTitleBlock > span {
  font-weight: 500;
}

.productParameters {
  display: flex;
  column-gap: toRem(16);
  margin-bottom: toRem(32);

  &Title {
    line-height: 160%;
    font-weight: 300;
    max-width: toRem(100);
    margin-bottom: toRem(8);
  }

  &Price {
    display: inline-block;
    font-weight: 500;
    margin-bottom: toRem(8);
  }

  &Item > h4 {
    font-size: toRem(14);
    font-weight: 400;
    line-height: toRem(16);
    margin-bottom: toRem(8);
  }

  &Size {
    margin-bottom: toRem(8);

    &Options {
      display: flex;
      gap: toRem(8);

      & > span {
        font-size: toRem(14);
        line-height: 160%;
        font-weight: 400;
        text-transform: uppercase;
        display: grid;
        place-content: center;
        min-width: toRem(24);
        min-height: toRem(24);
        border: 1px solid $textColorMain;

        &.active {
          color: $textColorLight;
          background: $textColorMain;
        }
      }
    }
  }

  &Color {
    &Options {
      display: flex;
      gap: toRem(8);

      & > div {
        padding: 2px;
        min-width: toRem(20);
        min-height: toRem(20);

        &.active {
          border: 1px solid $colorPrimary;
        }
      }

      & > div > span {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &CounterBlock {
    display: flex;
    gap: toRem(8);
    flex-basis: 50%;

    &Buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      & > button {
        font-size: toRem(16);
        min-width: toRem(24);
        min-height: toRem(24);
        border: 1px solid $textColorMain;
        display: flex;
        place-content: center;
        line-height: 1;
        background: transparent;
        color: $textColorMain;

        &:hover,
        &:active {
          background: $colorMedium;
        }
      }

      & > span {
        line-height: 160%;
        font-weight: 500;
      }
    }

    &Images {
      max-width: toRem(121);

      & > img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.cartTotal {
  display: flex;
  justify-content: space-between;
  border-spacing: toRem(8);
  margin-bottom: toRem(32);

  & > h5 {
    line-height: toRem(18);
    font-weight: 500;
  }

  & > span {
    line-height: 160%;
    font-weight: 700;
    display: inline-block;
  }
}

.buttons {
  font-size: toRem(14);
  line-height: 120%;
  display: grid;
  gap: toRem(12);
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  text-transform: uppercase;

  & > a {
    display: grid;
    place-content: center;
    padding-top: toRem(13);
    padding-bottom: toRem(13);
  }

  & > a:nth-child(1) {
    border: 1px solid $textColorMain;
  }

  & > a:nth-child(2) {
    color: $textColorLight;
    background-color: $colorPrimary;
    border: 1px solid $colorPrimary;
  }

  & > a:hover,
  & > a:active {
    color: $colorPrimary;
    background-color: $textColorMain;
    border: 1px solid $textColorMain;
  }
}

button,
a {
  transition: all .5s linear;
}