@import "../../styles/sass/abstracts/variables";
@import "../../styles/sass/abstracts/function";

.container {
  position: relative;
}

.wrapper{
  position: relative;

  &:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  }
}

.card {
  display: grid;
  grid-auto-flow: row;
  grid-template: 1fr auto auto / 1fr;
  font-size: toRem(18);
  line-height: 160%;
  color: $textColorMain;
  padding: toRem(16);
  transition: all .5s linear;



  &Img {
    position: relative;
    padding: 0 0 93% 0;
    margin-bottom: toRem(24);
  }

  &Img > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }

  &Title {
    font-weight: 300;
  }

  &Price {
    font-weight: 500;
  }
}

.buttonAddInCart {
  position: absolute;
  bottom: 12%;
  right: 6%;
  width: toRem(52);
  height: toRem(52);
  border-radius: 50%;
  border: transparent;
  background: $colorPrimary;
  place-content: center;
  display: none;

  &:hover {
    transform: scale(1.2);
  }
}

.wrapper:hover>.buttonAddInCart{
  display: grid;
}

.stockBox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .6);
  display: grid;
  place-content: center;
  z-index: 10;

  & > span {
    display: inline-block;
    position: relative;
    top: -131%;
    font-size: toRem(24);
    font-weight: 400;
    text-transform: uppercase;
    color: #8D8F9A;
  }
}


