@import 'src/styles/sass/abstracts/function';
@import 'src/styles/fonts/fonts';

.App{
  font-size: toRem(16);
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

main{
  position: relative;
}

