@import 'src/styles/sass/abstracts/variables';
@import 'src/styles/sass/abstracts/function';

.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  min-height: toRem(320);
  padding-bottom: toRem(30);
  border-bottom: 1px solid $colorMedium;
  margin-bottom: toRem(32);
  color: $textColorMain;
  font-family: Raleway;

  @media (max-width: toRem(900)) {
    grid-template-columns: 1fr;
  }
}

.productParameters {
  color: inherit;

  &Title {
    font-size: toRem(30);
    line-height: toRem(27);
    font-weight: 600;
    margin-bottom: toRem(20);
    display: block;
    color: inherit;
    font-family: Raleway;

    & > span {
      font-weight: 400;
      display: block;
      padding-top: toRem(16);
      font-family: Raleway;
    }

    &:hover {
      color: $colorPrimary;
    }
  }

  &Price {
    display: inline-block;
    font-size: toRem(24);
    line-height: toRem(18);
    font-weight: 700;
    margin-bottom: toRem(20);
    font-family: Raleway;
  }
}

.counterBlock {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  gap: toRem(24);
  overflow: hidden;
  position: relative;
  justify-self: end;
  padding-right: toRem(32);

  @media (max-width: toRem(900)) {
    justify-self: start;
    height: toRem(320);
  }

  &Buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & > button {
      font-size: toRem(32);
      width: toRem(45);
      height: toRem(45);
      border: 1px solid $textColorMain;
      display: flex;
      place-content: center;
      line-height: 1;
      background: transparent;
      color: $textColorMain;

      &:hover,
      &:active,
      &:disabled {
        background: $colorMedium;
      }
    }

    & > span {
      font-family: Raleway;
      font-size: toRem(24);
      line-height: 160%;
      font-weight: 500;
    }
  }
}

.buttonDeleteProduct {
  position: absolute;
  right: 0;
  width: toRem(30);
  height: toRem(30);
  cursor: pointer;
  transition: all .5s linear;
  border: none !important;
  background-color: transparent;

  &:hover {
    opacity: .5;
    background: transparent !important;
  }

  & > .svg {
    width: 100%;
    opacity: .7;
  }
}

//slider
.cartSlider {
  position: relative;
  width: 100%;
  height: 100%;

  &ImagesWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
  }

  .activeAnim {
    opacity: 1;
  }

  &Images {
    width: 100%;
    object-fit: cover;
  }

  &Buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    gap: toRem(8);

    & > button {
      border: none;
      background: transparent;
      width: toRem(24);
      height: toRem(24);

      &:disabled {
        opacity: .5;
      }
    }
  }
}




